
@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Areas/Shared/Views/_LayoutPublic.cshtml";
}

<h2>Reset your password</h2>

<form id="frm-edit-user" method="post">
    <div class="col-lg-12">
        <input type="hidden" value="@Model.User.Id" name="User.Id" class="form-control" />

        <label class="form-control-static">New Password</label>
        <input type="password" placeholder="*******" name="NewPassword" class="form-control" />

        <label class="form-control-static">Re-type Password</label>
        <input type="password" placeholder="*******" class="form-control" />

        <br />
        <input type="submit" value="Update password" class="btn btn-default" />
    </div>
</form>

