
@{
    ViewBag.Title = "code500";
    Layout = "~/Areas/Shared/Views/_Layout.cshtml";
}

<div class="container main">
	<div class="dv-error-container">
        <div class="fa-stack">
            <span class="fa fa-desktop"></span>
            <span class="fa fa-ban fa-stack-2x"></span>
            <h1>500</h1>
            <p>Page not found</p>
        </div>
    </div>
</div>